<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ChatMe</title>
	<link rel="stylesheet" href="/css/chat.css">
</head>
<body>
	<div class="chatme-container">
		<main class="chat-main">
			<div class="chat-header">
				<h3>ChatMe</h3>
			</div>
			<div class="chat-messages" id="chat-messages">
				<!-- Messages will be rendered here -->
			</div>
			<form class="chat-input-area" id="chat-form" autocomplete="off">
				<input type="text" id="chat-input" placeholder="Type your message..." required />
				<button type="submit" class="send-btn">Send</button>
			</form>
		</main>
	</div>
	  <script
    src="https://cdn.socket.io/4.8.1/socket.io.min.js"
    integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
    crossorigin="anonymous"
  ></script>
  <script>
    const socket = io();
  </script>
	<script src="/js/chat.js"></script>
</body>
</html>
